div.wrap {
  margin-top: 15px;
  margin-left: 20px;
  width: 360px;
  height: 140px;
  background: #54626d;
  display: flex;
  border-radius: 5px;
}

div.wrap:last-child {
  margin-bottom: 15px;
}

div.avatar {
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 5px;
  background-size: 100% 100%;
}

div.wrapForData {
  padding-top: 10px;
  width: 210px;
}

div.wrapForTravel {
  display: flex;
}

div.travelOrUp {
  width: 40px;
  height: 40px;
  background: #f0f8ff;
  margin: 5px;
  border-radius: 10px;
  background-size: 100% 100%;
}

div.travelOrUp:first-child {
  margin-left: 0;
}

div.travelOrUp:hover {
  cursor: pointer;
  outline: 2px solid black;
}

h1.nickname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
